.header__navilink {
  margin: auto 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: right;

  color: #ffffff;
  text-decoration: none;
}
